= simple_form_for(@visit) do |f|
  / .form-group
  /   = f.input :price
  .form-group
    = f.input :description
  .form-group
    .row.datetimerange
      / = f.text_field :start_visit, class: "form-control"
      = f.input :start_visit, as: :datetime_picker, wrapper: :ranged_datetime, input_html: { data: { date_side_by_side: true } }
      = f.input :end_visit, as: :datetime_picker, wrapper: :ranged_datetime, input_html: { data: { date_side_by_side: true } }

  .form-group
    = f.input :patient_id, collection: @patients

  .form-group
    = f.input :doctor_id, collection: @doctors
    / = f.select 'doctor_id', options_for_select(Doctor.all.collect{ |doctor| [doctor.surname + " " + doctor.name, doctor.id]})
  .form-group
    = f.submit "Submit", class: "btn btn-default"

  / - @visit.update(price: @visit.visit_cost)

= link_to "<-- Back", visits_path