%h1 All visits

%table.table
  %thead
    %tr
      %th Patient
      %th Patient age
      %th Doctor
      %th Description
      %th Price
      %th Actions

  %tbody
    - @visits.each do |visit|
      %tr
        %td= visit.patient.name + " " + visit.patient.surname
        %td= visit.patient.age_of_patient
        %td= visit.doctor.name + " " + visit.doctor.surname
        %td= visit.description
        / %td= visit.price
        %td= visit.visit_cost.to_s + " zł"
        %td
          = link_to 'Show', visit_path(visit), class: 'btn btn-primary btn-xs'
          = link_to 'Edit', edit_visit_path(visit), class: 'btn btn-warning btn-xs'
          = link_to 'Delete', visit_path(visit), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs'

= link_to "+ Add new visit", new_visit_path, class: 'btn btn-success btn'

%p= will_paginate @visits, renderer: BootstrapPagination::Rails, previous_label: "Previous", next_label: "Next", inner_windows: 1, outer_window: 0
