= simple_form_for(@patient) do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :surname
    = f.text_field :surname, class: "form-control"
  .form-group
    = f.label :age
    = f.text_field :age, class: "form-control"
  .form-group
    = f.submit "Submit", class: "btn btn-default"

= link_to "<-- Back", patients_path