%h1 All patients
%p.text-right
  Patients:
  %span.badge= @patients.count

%table.table
  %thead
    %tr
      %th Name
      %th Surname
      %th Age
      %th Actions

  %tbody
    - @patients.each do |patient|
      %tr
        %td= patient.name
        %td= patient.surname
        %td= patient.age_of_patient
        %td
          = link_to 'Show', patient_path(patient), class: 'btn btn-primary btn-xs'
          = link_to 'Edit', edit_patient_path(patient), class: 'btn btn-warning btn-xs'
          = link_to 'Delete', patient_path(patient), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs'

= link_to "+ Add new patient", new_patient_path, class: 'btn btn-success btn'

%p= will_paginate @patients, renderer: BootstrapPagination::Rails, previous_label: "Previous", next_label: "Next", inner_windows: 1, outer_window: 0
