= simple_form_for(@doctor) do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :surname
    = f.text_field :surname, class: "form-control"
  .form-group
    = f.label :description
    = f.text_field :description, class: "form-control"
  .form-group
    = f.label :salary_per_hour
    = f.text_field :salary_per_hour, class: "form-control"
  .form-group
    = link_to "<-- Back", doctors_path, class: 'btn btn-default btn'
    = f.submit "Submit", class: "btn btn-success"