%h1 All doctors

%table.table
  %thead
    %tr
      %th Name
      %th Surname
      %th Description
      %th Salary per hour
      %th Actions

  %tbody
    - @doctors.each do |doctor|
      %tr
        %td= doctor.name
        %td= doctor.surname
        %td= doctor.description
        %td= doctor.salary_per_hour.to_s + " zł"
        %td
          = link_to 'Show', doctor_path(doctor), class: 'btn btn-primary btn-xs'
          = link_to 'Edit', edit_doctor_path(doctor), class: 'btn btn-warning btn-xs'
          = link_to 'Delete', doctor_path(doctor), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs'

= link_to "+ Add new doctor", new_doctor_path

%p= will_paginate @doctors, renderer: BootstrapPagination::Rails, previous_label: "Previous", next_label: "Next", inner_windows: 1, outer_window: 0